---
import Layout from "../layouts/Layout.astro";
import GradientBackground from "../components/ui/GradientBackground.astro";
import FeatureCircle404 from "../components/404/FeatureCircle404/FeatureCircle404.astro";
import Button from "../components/ui/Button.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout
    noindex={false}
    footer={false}>
  <GradientBackground />
  <h1
    class="title text-4xl md:text-5xl lg:text-7xl font-medium text-center mt-12 md:mt-40"
  >
    We couldn't find that page
  </h1>
  <h2 class="px-12 text-sm lg:text-xl mt-8 text-secondary">
    Check the URL for errors and try again. Otherwise you can return to home or <br
    /> previous page and find the desired information.
  </h2>
  <div class="mt-4 flex gap-3 justify-center items-center mt-8">
    <a href={import.meta.env.BASE_URL}>
      <Button
        icon={`${import.meta.env.BASE_URL}icons/home.svg`}
        title="home page"
        className="bg-black"
      />
    </a>
    <Button
      icon={`${import.meta.env.BASE_URL}icons/back_arrow.svg`}
      title="previous page"
      id="previousBtn"
    />
  </div>
  <div class="flex justify-center align-center md:mt-40 mt-32">
    <FeatureCircle404 />
  </div>
  <Footer
    className="-mt-72 max-sm:-mt-52 mx-0 max-sm:mb-0 md:pb-9 md:pt-12 max-sm:rounded-b-none bg-gradient-to-t from-black to-black/40 border-footer"
  />
</Layout>

<script>
  const button = document.getElementById("previousBtn");

  button.addEventListener("click", () => {
    window.history.back();
  });
</script>

<style>
  .border-footer {
    border-top: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
  }
</style>
