---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import Section from "../components/ui/Section.astro";
import GradientBackground from "../components/ui/GradientBackground.astro";
import Card from "../components/ui/Card.astro";
import Circle from "../components/ui/Circle.astro";
---

<Layout
    title="Arke | The ultimate framework to level-up your business method"
    description="Optimize digital processes in an integrated, scalable and efficient ecosystem that fosters quality, creativity and innovation"
    footer={false}>
	<GradientBackground />
    <Section className={`flex flex-col items-center pb-32 relative shpere-background`} color={'transparent'}>
        <div class='absolute flex justify-center container-shpere'>
        <img src={`${import.meta.env.BASE_URL}illustrations/shpere.png`} alt='' class='shpere' />
    </div>
	<h1 class="title text-4xl md:text-5xl lg:text-7xl text-center font-medium mt-12 md:mt-20 px-4">
		The ultimate framework to<br/>
		<span>level-up</span> your business method
	</h1>
	<h2 class="px-12 text-sm mt-6 lg:text-2xl lg:mt-12 text-secondary">
		Optimize digital processes in an integrated, scalable and efficient ecosystem that fosters quality,
		creativity and innovation.
	</h2>
    <Section className="w-full flex justify-center items-center sm:mt-10 mt-28" color={'transparent'}>
        <Circle title='EXPLORE' className={'explore-circle md:p-14 p-12 md:left-5 sm:left-6 left-24 bottom-32 sm:bottom-0'} />
        <Circle title='PLAN' className={'plan-circle md:p-20 p-16 md:left-3 sm:left-5 left-10 z-10 bottom-14 sm:bottom-0'} />
        <div class="circle develop-circle-background md:p-12 p-8 z-20">
           <Circle title='DEVELOP' className={'develop-circle md:p-20 p-16 drop-shadow-lg'} />
            </div>
        <Circle title='TEST' className={'test-circle md:p-20 p-16 md:right-3 sm:right-5 right-10 z-10 bottom-14 sm:bottom-0'} />
        <Circle title='EVOLVE' className={'evolve-circle md:p-14 p-12 md:right-5 sm:right-6 right-24 bottom-32 sm:bottom-0'} />

    </Section>
    </Section>

    <Section className="section-background flex flex-col items-center md:h-96 pt-20 pb-32 relative" color={'transparent'}>

        <h3
        class="title text-2xl md:text-4xl lg:text-5xl font-semibold h-24 flex flex-col sm:flex-row justify-center items-center"
      >
      Choose <span class="px-3">Arke</span> for maximum value
      </h3>
      <h2 class="px-6 text-sm lg:text-2xl mt-6 lg:mt-12 text-secondary md:w-4/6 ">
        The open-source Agile framework designed to ensure an efficient prototyping and management process, minimize development risks and accelerate product delivery.
      </h2>
      <div class="prototype-circle-background p-3 absolute rounded-full w-fit h-fit lg:top-72 lg:mt-8 md:mt-24 sm:mt-20 sm:top-60 top-64 mt-20 z-10">
      <Circle title="prototype" className={'blue-gradient text-black w-28 h-28 border lg:h-40 lg:w-40 uppercase flex justify-center items-center rounded-full'} />
      </div>

    </Section>

  <Section
    className={`w-full h-full lg:px-12 m-auto rounded-none b-0 -z-1 lg:pt-40 sm:pt-32 pt-28 flex flex-col items-center`}
    color={"transparent"}
  >

    <div class="container-circles top-0">
        <img src={`${import.meta.env.BASE_URL}illustrations/circles.png`} alt="circles background" class="circles">
        </div>
    <h3 class="title text-2xl md:text-4xl lg:text-5xl font-semibold flex flex-col sm:flex-row justify-center">
      <div>Fast & Flexible</div> <div class="sm:pl-2 md:pl-3">iterations</div>
    </h3>
    <h2
      class="text-md lg:text-2xl max-sm:px-10 md:px-40 mt-4 lg:mt-12 text-secondary"
    >
      Maximize your business success combining Agile and <br /> Arke to reduce risks,
      accelerate go-to-market and unlock your <br /> product's true potential.
    </h2>
    </div>
    <div
      class="md:bg-[url('/img/Ellipse.png')] container-card flex pt-10 pb-36 lg:gap-4 gap-3 max-sm:flex-col items-center w-full"
    >
      <Card className="h-fit w-11/12 px-14 md:w-1/3 md:px-0 lg:mx-0 md:ml-2">
        <div
          class="w-full border-b-card mr-4 rounded-t-xl lg:text-7xl text-5xl py-4 px-10 flex items-center justify-center"
        >
          <h3 class="blue-gradient-text px-2">+10000</h3>
        </div>
        <div
          class="w-full border-b-card py-4 md:px-4 mr-4 lg:text-lg text-md uppercase flex justify-center items-center"
        >
          Quicker in testing business assumptions
        </div>
        <div class="w-full mr-4 rounded-b-xl">
          <h3 class="md:text-lg text-md my-4">Detailed analysis</h3>
          <p class="lg:text-base text-md text-secondary mb-4 lg:px-16">
            We understand your needs and evaluate the best solutions.
          </p>
        </div>
      </Card>

      <Card className="h-fit md:mt-24 md:w-1/3 w-11/12 md:px-0 px-14">
        <div
          class="w-full mr-4 border-b-card py-4 rounded-t-3xl lg:text-7xl text-5xl flex justify-center items-center"
        >
          <h3 class="green-gradient-text">x2</h3>
        </div>
        <div
          class="w-full mr-4 border-b-card md:px-4 py-4 lg:text-lg text-md uppercase flex justify-center items-center"
        >
          Quicker in testing business assumptions
        </div>
        <div class="w-full mr-4 rounded-b-3xl flex flex-col justify-center">
          <h3 class="md:text-lg text-md my-4">Real-time demo</h3>
          <p class="lg:text-base text-md text-secondary mb-4 lg:px-16">
            We shape your ideas in real-time to test business assumptions.
          </p>
        </div>
      </Card>

      <Card className="h-fit md:w-1/3 lg:mx-0 w-11/12 px-14 md:px-0 md:mr-2">
        <div
          class="w-full border-b-card mr-4 rounded-t-3xl lg:text-7xl text-5xl py-4 px-10 flex justify-center items-center"
        >
          <h3 class="rose-gradient-text px-2">100%</h3>
        </div>
        <div
          class="w-full border-b-card md:px-4 py-4 mr-4 lg:text-lg text-md uppercase flex justify-center items-center"
        >
          Quicker in testing business assumptions
        </div>
        <div class="w-full mr-4 rounded-b-3xl">
          <h3 class="md:text-lg text-md my-4">Ready-to-use MVP</h3>
          <p class="lg:text-base text-md text-secondary mb-4 lg:px-16">
            We proivide an intuitive, flexible and ready-to-scale solution.
          </p>
        </div>
      </Card>
    </div>
  </Section>

  <Section className="section-background w-full h-full lg:px-12 m-auto rounded-none b-0 flex flex-col items-center relative" color={'transparent'}>
    <div class="p-3 rounded-full choose-develop-section flex justify-center items-center -top-16 lg:-top-24 absolute">
    <Circle title="develop" className={' green-gradient text-black w-28 h-28 border lg:h-40 lg:w-40 uppercase flex justify-center items-center rounded-full z-10'} />
    </div>
    <div class="lg:py-36 py-24">
        <div>
            <h3 class="title text-2xl md:text-4xl lg:text-5xl font-semibold flex flex-col sm:flex-row justify-center">
             <div>Identity & Quality</div>  <div class="sm:pl-2 md:pl-3">all-in-one</div>
            </h3>
            <h2
              class="text-md lg:text-2xl max-sm:px-10 md:px-40 mt-4 lg:mt-12 text-secondary"
            >
              Unleash your product's true potential and achieve outstanding results that your competitors could never reach.
            </h2>
        </div>
        <div class="mt-16 flex flex-col lg:flex-row gap-4 mt-12 mx-4">
            <div class="lg:w-3/6">
                <Card className={'flex flex-col sm:flex-row justify-around'}>
                    <div class="p-4 md:pl-2 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl md:text-6xl font-medium green-gradient-text">+10000</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="border-t sm:border-t-0 sm:border-l border-card-color px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Custom design</p>
                        <p class="text-base text-secondary mt-4">We adapt your brand identity or create one from scratch.</p>
                    </div>
                </Card>
                <Card className={'flex flex-col sm:flex-row justify-around mt-4'}>
                    <div class="p-4 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl md:text-6xl font-medium blue-gradient-text">x2</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="border-t sm:border-t-0 sm:border-l border-card-color px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Efficient development</p>
                        <p class="text-base text-secondary mt-4">We turn your prototype into a product that boosts your business performance.</p>
                    </div>
                </Card>
                <Card className={'flex flex-col sm:flex-row justify-around mt-4'}>
                    <div class="p-4 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl md:text-6xl font-medium rose-gradient-text">100%</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="border-t sm:border-t-0 sm:border-l border-card-color px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Continuos delivery</p>
                        <p class="text-base text-secondary mt-4">We deliver a secure, high-performing, scalable product at each stage.</p>
                    </div>
                </Card>
            </div>
            <div class="lg:w-3/6">
                <Card>
                    <p>???</p>
                </Card>
            </div>
        </div>
    </div>

  </Section>

  <Section className={'flex flex-col items-center relative pb-12'} color={'transparent'}>
    <div class="prototype-circle-background p-3 rounded-full flex justify-center items-center w-fit absolute lg:-top-20 -top-16">
        <Circle title="expand" className={' rose-gradient text-black w-28 h-28 border lg:h-40 lg:w-40 uppercase flex justify-center items-center rounded-full z-10'} />
        </div>
        <div class="container-circles">
        <img src={`${import.meta.env.BASE_URL}illustrations/circles.png`} alt="circles background" class="circles">
        </div>
    <div class="md:mt-32 mt-24">
        <h3 class="title text-2xl md:text-4xl lg:text-5xl font-semibold">
         Transparent & Continuous communication
        </h3>
        <h2
          class="text-md lg:text-2xl max-sm:px-10 md:px-40 mt-4 lg:mt-12 text-secondary"
        >
        Turn collaboration into innovation and follow the path of continuous <br/> improvement for long-term business thriving
        </h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-between pt-12 w-screen">
            <div class="w-full">

            </div>
            <div class="w-full">
                <Card className={'flex flex-col sm:flex-row justify-around lg:mt-4 rounded-none border-none px-6 rectangle-card'}>
                    <div class="p-4 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl font-semibold rose-gradient-text">+10000</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Seamless support</p>
                        <p class="text-base text-secondary mt-4">We provide technical assistance at every stage of your project.</p>
                    </div>
                </Card>
                <Card className={'flex flex-col sm:flex-row justify-around lg:mt-4 rounded-none border-none px-6 rectangle-card'}>
                    <div class="p-4 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl font-semibold green-gradient-text">x2</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Limitless Integration</p>
                        <p class="text-base text-secondary mt-4">We expand your product beyond the limits of innovation.</p>
                    </div>
                </Card>
                <Card className={'flex flex-col sm:flex-row justify-around lg:mt-4 rounded-none border-none px-6 rectangle-card'}>
                    <div class="p-4 sm:p-8 sm:w-3/6 sm:text-center text-left">
                        <h1 class="text-7xl font-semibold blue-gradient-text">100%</h1>
                        <h2 class="font-medium text-base uppercase mt-6">faster development than traditional models</h2>
                    </div>
                    <div class="px-4 py-4 sm:py-8 sm:w-3/6 text-left">
                        <p class="text-lg">Reliable Manteinance</p>
                        <p class="text-base text-secondary mt-4">We keep your product up-to-date and state-of-the-art.</p>
                    </div>
                </Card>
            </div>
        </div>
</Section>

<Section className={"flex flex-col items-center pt-24 pb-40 z-10 relative "} color={'transparent'}>
    <h3
    class="title text-2xl md:text-4xl lg:text-5xl font-semibold h-24 flex flex-col sm:flex-row justify-center items-center"
  >
  Experience the <span class="px-1.5 md:px-3">open-source</span> power
  </h3>
  <h2 class="px-6 text-sm lg:text-2xl mt-6 lg:mt-12 text-secondary md:w-4/6 ">
    Benefit from a constantly evolving framework and experience the perfect balance of privacy and open-source to elevate your business.
  </h2>
</Section>

<Section className={'relative flex flex-col items-center'} color={'transparent'}>
    <Circle title="start the change" className={"text-white w-28 h-28 border border-black lg:h-40 lg:w-40 uppercase flex justify-center items-center bg-[url('illustrations/Ellipse.png')] ellipse-background rounded-full z-20 absolute -top-14 lg:-top-20"} />
    <div class=" h-60 w-full flex justify-center absolute -top-96">
        <img src={`${import.meta.env.BASE_URL}illustrations/circles.png`} alt='' class="absolute bottom-circles"/>
    </div>
</Section>

<Section className="z-10 pb-8  w-screen relative flex flex-col items-center final-section footer-container" color={'transparent'}>
    <h1 class="big-one z-30">one</h1>
    <div class="z-50 absolute top-60">
    <h2 class="text-5xl lg:text-6xl text-center font-medium">Month</h2><p>to develop</p>
    </div>
    <img src={`${import.meta.env.BASE_URL}illustrations/greenSemicircle.png`} alt="circles background" class="absolute semicircle-background">
    <img src={`${import.meta.env.BASE_URL}illustrations/blueSemicircle.png`} alt="circles background" class="absolute top-52 z-40">
    <div class="absolute h-full w-full z-40 top-40 md:top-56 lg:top-56 flex flex-col items-center relative">
        <!-- <img src={`${import.meta.env.BASE_URL}illustrations/blueSemicircle.png`} alt="circles background" class=" absolute -top-64"> -->
    </div>
</Section>
<div class="footer-container">
<Footer className="mt-0 z-50" />
</div>
</Layout>

<style>
  .title > span {
    background: linear-gradient(90deg, #78e7c5, #9dffad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

    .circle {
        border-radius: 100%;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .blue-gradient {
    background: linear-gradient(180deg, #ffffff 21.07%, #bbd8f2 100%);
  }

  .green-gradient{
    background: linear-gradient(180deg, #ffffff 21.07%, #B2FFBF 100%);
  }

  .rose-gradient{
    background: linear-gradient(180deg, #ffffff 21.07%, #EFAEFF 100%);
  }

  .blue-gradient-text {
    background: linear-gradient(150deg, #afb7fa 21.07%, #bbd8f2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-gradient-text {
    background: linear-gradient(150deg, #78e7c5 21.07%, #B2FFBF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .rose-gradient-text {
    background: linear-gradient(150deg, #ffc3c3 21.07%, #EFAEFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  .develop-circle {
    background: linear-gradient(90deg, #78e7c5, #9dffad);
    color: black;
    border: 1px solid #ffffff;
  }

    .develop-circle-background {
        background: linear-gradient(90deg, #58B9BF, #1D6957 );
    }

    .section-background {
        background-color: #2a2b376d;
    }

    .choose-develop-section {
        background-color: #2a2b37;
    }

    .explore-circle{
        background: linear-gradient(60deg,  #080f10, #315056e2);
    }

    .plan-circle{
        background: linear-gradient(160deg,  #315056, #17373db2);
    }

    .test-circle{
        background: linear-gradient(180deg,  #17373d, #17373db2);
    }

    .evolve-circle{
        background: linear-gradient(90deg,  #17373d, #17373d29);
    }

  .prototype-circle-background{
    background-color: #0a0b12;
  }

  .border-b-card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container-card {
    background-repeat: no-repeat;
    background-position-y: 5rem;
  }

  .container-circles{
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-position-x: center;
    background-size: auto;
  }

  .circles-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .rectangle-card{
    background: linear-gradient(170deg,  #2a2b371c, #2a2b371c, #fff2f21d);
  }

  .ellipse-background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .border-card-color {
    border-color:rgba(255, 255, 255, 0.1);
  }

  .final-background {
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
  }

  .final-background2 {
    background-size: auto;
    background-position-x: center;
    background-repeat: no-repeat;
  }


  .big-one {
    font-size: 100px;
    font-weight: bolder;
    background: linear-gradient(150deg, #c0eaff,#9ddeff, #1551ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer-container{
    background: linear-gradient(180deg, #0a0b12, #100c14 )
  }

  .big-one {
    font-size: 230px;
    font-weight: bolder;
    background: linear-gradient(150deg, #c0eaff,#9ddeff, #1551ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .shpere-background {
    background-position-x: center;
    background-size: auto; 
  }

  .circles-background {
    background-repeat: no-repeat; 
  }

  .shpere {
        min-width: 1000px; 
        height: 1000px;
        position: absolute;
        bottom: -150px;
    }

    .container-shpere {
        min-width: 1400px; 
        height: 730px;
        overflow-y: hidden; 
    }

    .circles {
        position: absolute;
        min-width: 700px; 
        height: 700px;
        bottom: 250px;
    }

    .container-circles {
        position: absolute;
        display: flex;
        justify-content: center; 
        min-width: 1400px; 
        height: 600px;
        overflow-y: hidden; 
    }

    .semicircle-background{
        min-width: 700px;
    }

    .bottom-circles{
        width: 500px;
        min-width: 500px;
        top: 130px; 
    }

    @media screen and (min-width: 1440px){
        .semicircle-background{
            width: 100%
        }
    }

  @media screen and (min-width: 1023px){
    .shpere {
        min-width: 1400px; 
        height: 1400px;
        position: absolute;
        bottom: -430px;
    }

    .container-shpere {
        min-width: 1400px; 
        height: 730px;
    }

    .circles {
        min-width: 1000px; 
        height: 1000px;
        position: absolute;
        bottom: 120px;
    }

    .container-circles {
        min-width: 1400px; 
        height: 600px;
    }

    .bottom-circles{
        width: 1000px;
        min-width: 1000px;
        top: -80px
    }

  }

  @media screen and (min-width: 767px) and (max-width: 1022px){
    .shpere {
        min-width: 1200px; 
        height: 1200px;
        position: absolute;
        bottom: -300px;
    }

    .container-shpere {
        min-width: 1400px; 
        height: 670px;
    }

    .circles {
        min-width: 700px; 
        height: 700px;
        position: absolute;
        bottom: 250px;
    }

    .container-circles {
        min-width: 1400px; 
        height: 600px;
    }

  }

  @media screen and (min-width: 639px) and (max-width: 766px){
    .shpere {
        min-width: 1000px; 
        height: 1000px;
        position: absolute;
        bottom: -250px;
    }

    .container-shpere {
        min-width: 1400px; 
        height: 560px;
    }

    .circles {
        min-width: 700px; 
        height: 700px;
        position: absolute;
        bottom: 250px;
    }

    .container-circles {
        min-width: 1400px; 
        height: 600px;
    }

  }

  @media screen and (min-width: 300px) and (max-width: 520px){
    .shpere {
        min-width: 1000px; 
        height: 1000px;
        position: absolute;
        bottom: -250px;
    }

    .container-shpere {
        min-width: 1400px; 
        height: 730px;
    }

    .circles {
        min-width: 700px; 
        height: 700px;
        position: absolute;
        bottom: 250px;
    }

    .container-circles {
        min-width: 1400px; 
        height: 600px;
    }

  } 
</style>
