---
import Layout from '../layouts/Layout.astro';
import GradientCircle from '../components/ui/GradientCircle.astro';
import GradientBackground from '../components/ui/GradientBackground.astro';
import Card from '../components/ui/Card.astro';
import FooterCta from '../components/ui/FooterCta.astro';
import FeatureSection from '../components/home/FeatureSection/FeatureSection.tsx';
import FeatureCircle from '../components/home/FeatureCircle/FeatureCircle.astro';
import WorkflowStep from '../components/home/WorkflowStep/WorkflowStep.astro';
import WorkflowFeature from '../components/home/WorkflowFeature/WorkflowFeature.astro';
import StartNowButton from '../components/home/StartNowButton/StartNowButton.astro';
import VerticalLine from '../components/home/VerticalLine/VerticalLine.astro';
import LottieAnimation from '../components/ui/LottieAnimation';
import WorkflowWorkspaceAnimation from "../animatons/workflow_workspace_animation.json";
import WorkflowDesignAndDevelopAnimation from "../animatons/workflow_design_and_develop.json";
import WorkflowUpgradeAndScaleAnimation from "../animatons/workflow_upgrade_and_scale.json";
---

<Layout
	title="Arke | The BAAS solution to accelerate your development"
	description="Design your project from a ready-to-use foundation. Speed up your development with our dedicated Console. Customize your code to suit your unique needs"
>
	<script>
		const btnStartCta = document.getElementById('btnStartCta');
		const btnEndCta = document.getElementById('btnEndCta');
		const vLine = document.getElementById('vline');
		const btnStartCtaTopPosition = btnStartCta.offsetTop;
		const btnEndCtaTopPosition = btnEndCta.offsetTop;
		vLine.style.height = `${btnEndCtaTopPosition - btnStartCtaTopPosition}px`;
	</script>
	<GradientBackground />
	<h1 class="title text-4xl md:text-5xl lg:text-7xl text-center font-medium mt-12 md:mt-40 animate__animated animate__fadeIn">
		The BAAS solution to <span>accelerate</span><br/>
		your development</h1>
	<h2 class="px-12 text-sm lg:text-2xl mt-12 text-secondary animate__animated animate__fadeIn">
		Design your project from a ready-to-use foundation. Speed up your development<br/>
		with our dedicated Console. Customize your code to suit your unique needs.
	</h2>
	<br/>
	<br/>
	<StartNowButton id="btnStartCta" color="green"/>
	<img src={`${import.meta.env.BASE_URL}console/arke_console.png`} class="mx-auto mt-20 w-9/12" alt="arke_console" />
	<FeatureSection client:load />

	<div class="flex justify-center align-center mt-40">
		<FeatureCircle>
			<WorkflowStep step="01" color="green" className="mt-20"/>
		</FeatureCircle>
	</div>
	<VerticalLine id="vline" className="hidden lg:block" />

	<!-- SET UP  -->
	<Card className="p-4 px-8 w-fit m-auto -mt-32">
		SET UP
	</Card>
	<Card className="p-8 m-auto mt-4 w-11/12 md:w-8/12">
		<h3 class="text-5xl font-medium">
			Create and customize
			<span class="text-green">your workspace</span>
		</h3>
		<p class="mt-4 text-lg text-secondary">
		Begin your journey with our framework and simplify the<br/>way you develop and manage projects.
		</p>
	</Card>

	<div class="mt-20 w-10/12 m-auto grid gap-x-32 lg:grid-cols-2 items-center">
		<GradientCircle animate={true} color="green"/>
		<div>
			<WorkflowFeature
				title="Integrated environment"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_environment.png`}
				description="Start a robust, secure, and optimized integrated environment, ensuring a streamlined initialization of your development pipeline."
			/>
			<WorkflowFeature
				title="Built-in elements & Features"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_built_in.png`}
				description="Take advantage of customizable and ready-to-use elements & features to swiftly start your project, avoiding to write code from scratch."
			/>
			<WorkflowFeature
				title="User-friendly console"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_user_friendly.png`}
				description="Simplify your project management with our intuitive console, designed for smooth and fast control."
			/>
		</div>
		<div>
			<div id="workflow_workspace_animation"/>
			<LottieAnimation animation={WorkflowWorkspaceAnimation} client:only/>
		</div>
	</div>

	<!-- BUILD  -->
	<WorkflowStep step="02" color="blue" className="mt-20"/>
	<Card className="p-4 px-8 w-fit m-auto mt-8">
		BUILD
	</Card>
	<Card className="p-8 m-auto mt-4 w-11/12 md:w-8/12">
		<h3 class="text-5xl font-medium">
			Design and develop
			<span class="text-blue">your idea</span>
		</h3>
		<p class="mt-4 text-lg text-secondary">
			Enhance your development experience simplifiying and
			accelerating prototyping and customizing your code.
		</p>
	</Card>
	<div class="mt-20 w-10/12 m-auto grid gap-x-32 lg:grid-cols-2 items-center">
		<GradientCircle animate={true} color="blue"/>
		<div>
			<div id="workflow_design_and_develop"/>
			<LottieAnimation animation={WorkflowDesignAndDevelopAnimation} client:only/>
		</div>
		<div>
			<WorkflowFeature
				title="Effortless design"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_effortless_design.png`}
				description="Easily design and instantly update your project through entities, units and relationships. Enjoy the power of automatic database and API generation."
			/>
			<WorkflowFeature
				title="Dynamic prototyping"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_dynamic_prototyping.png`}
				description="Accelerate your development with flexible prototyping, enabling faster concept and feature testing for efficient iterations."
			/>
			<WorkflowFeature
				title="Multi-language coding"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_multilanguage_coding.png`}
				description="Connect your favorite programming language with the Arke backend through our Client SDKs for a tailored experience."
			/>
		</div>
	</div>

	<!-- EMPOWER  -->
	<WorkflowStep step="03" color="rose" className="mt-20"/>
	<Card className="p-4 px-8 w-fit m-auto mt-8">
		EMPOWER
	</Card>
	<Card className="p-8 m-auto mt-4 w-11/12 md:w-8/12">
		<h3 class="text-5xl font-medium">
			Upgrade and scale
			<span class="text-blue">your project</span>
		</h3>
		<p class="mt-4 text-lg text-secondary">
			Experience the advantages of our next-gen technology that amplifies your product and elevates it to new dimensions.
		</p>
	</Card>
	<div class="mt-20 w-9/12 m-auto grid gap-x-32 lg:grid-cols-2 items-center">
		<GradientCircle animate={true} color="rose"/>
		<div>
			<WorkflowFeature
				title="Ever-evolving technology"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_evolving_technology.png`}
				description="Our dedicated team provides constant updates pushing the limits of innovation and delivering unmatched value for your projects."
			/>
			<WorkflowFeature
				title="Universal products"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_universal_products.png`}
				description="Leverage on Arke's unmatched adaptability to deploy your project on Docker, Kubernetes, AWS, Google Cloud Platform, Azure or any other cloud provider."
			/>
			<WorkflowFeature
				title="Scalable solutions"
				icon={`${import.meta.env.BASE_URL}features/circle/feature_scalable_solutions.png`}
				description="Unleash the full potential of your product with our limitless scalability, driven by the high-performing Elixir core."
			/>
		</div>
		<div>
			<div id="workflow_upgrade_and_scale"/>
			<LottieAnimation animation={WorkflowUpgradeAndScaleAnimation} client:only/>
		</div>
	</div>

	<!--
	<Card className="p-12 w-10/12 m-auto my-20">
		<h4 class="text-5xl font-medium">
			Trusted by
		</h4>
		<div class="mt-20 grid lg:grid-cols-4">
			<div class="w-full flex justify-center border-r opacity-40">
				<img class="w-40" src={`${import.meta.env.BASE_URL}logos/trusted/enersem.svg`} alt="enersem` />
			</div>
			<div class="w-full flex justify-center border-r opacity-40">
				<img class="w-40" src={`${import.meta.env.BASE_URL}logos/trusted/cimberio.svg`} alt="cimberio` />
			</div>
			<div class="w-full flex justify-center border-r opacity-40">
				<img class="w-40" src={`${import.meta.env.BASE_URL}logos/trusted/subito.svg`} alt="subito" />
			</div>
			<div class="w-full flex justify-center opacity-40">
				<img class="w-28" src={`${import.meta.env.BASE_URL}logos/trusted/pagopa.svg`} alt="pagopa" />
			</div>
		</div>
	</Card>
	-->

	<div class="mt-40">
		<StartNowButton
			id="btnEndCta"
			color="rose"
			className="-mt-4" />
		<FooterCta />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		text-align: center;
	}

	.title > span {
		background: linear-gradient(90deg, #AFDEFA, #4ba6ec);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	a .card-link:hover {
		transition: background-color 0.2s ease-out 100ms;
		background: rgba(255,255,255,0.08);
	}
</style>
