---
import Button from "../components/ui/Button.astro";
import Card from "../components/ui/Card.astro";
import NavbarMenu from "./NavbarMenu.astro";
import {twMerge} from "tailwind-merge";

export interface Props {
    subBar: boolean;
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const { subBar = false } = Astro.props;

const subbarItems = [
    {title: 'High-performing backend', id: 'high-performing-backend'},
    {title: 'Extensive-frontend libraries', id: 'extensive-frontend-libraries'},
    {title: 'No-code console', id: 'no-code-console'},
    {title: 'Flexible tech stack', id: 'flexible-tech-stack'},
    {title: 'Open-source culture', id: 'open-source-culture'}
    ]; 
---

<script>
	const button = document.getElementById('menuBtn');
	const menu = document.getElementById('menu');

	button.addEventListener('click', () => {
		setTimeout(() => {
			menu.classList.remove("hidden");
			menu.classList.add("flex");
		},10)

	});

	document.addEventListener('click', event => {
		const isClickInside = menu.contains(event.target)
		if (!isClickInside) {
			menu.classList.remove("flex");
			menu.classList.add("hidden");
		}

	})

</script>


<nav class={twMerge("rounded-xl sm:rounded-3xl top-4 md:top-8 my-2 mx-4 sm:mx-2 md:mx-12 md:my-2 px-2 sm:px-4", subBar ? "pt-2 sm:pt-3" : "py-2 sm:py-3")}>
    <div class={twMerge("flex flex-row", subBar && "border-b pb-3 border-color")}>
	<div class="flex items-center flex-auto">
		<a class={currentPath === "" ? "active" : ""} href={`${import.meta.env.BASE_URL}`}>
			<img src={`${import.meta.env.BASE_URL}logos/arke_logo.svg`} class="w-20 md:w-28 ml-2" alt="arke_logo" />
		</a>
		<span class="vl mx-4 lg:mx-6" />
		<div class="menu hidden lg:flex justify-between">
			<NavbarMenu />
		</div>
		<div class="lg:hidden">
			<Button id="menuBtn" icon={`${import.meta.env.BASE_URL}icons/menu.svg`}/>
		</div>
	</div>
	<div class="flex" style="gap: 12px">
		<!--<Button icon="/icons/star.svg" title="Star" count="213"/>-->
		<a href="https://github.com/arkemishub" target="_blank">
			<Button icon={`${import.meta.env.BASE_URL}icons/github.svg`} title="Join us"/>
		</a>
	</div>
</div>
    {
        subBar && <div class='sub-bar-container'>
            {
                subbarItems.map(item => (
                <div class="px-3 flex justify-center sub-bar-border w-fit lg:w-full">
            <div class="px-2 py-3 my-3 w-60 rounded-xl flex justify-center sub-bar-link"><a class="select-none" href={`#${item.id}`}>{item.title}</a></div>
        </div>
                ))
            }
    </div>
    }

</nav>

<Card id="menu"
	  className="hidden z-50 flex-col p-6 fixed top-20 sm:top-32"
	  style="line-height: 60px;width: 80%;margin-left: 10%;background: rgba(255, 255, 255, 0.03);backdrop-filter: blur(33px)">
	<NavbarMenu />
</Card>

<style>
	nav {
		z-index: 9999;
		display: flex;
        flex-direction: column; 
		position: sticky;
		background: rgba(255,255,255,0.03);
		backdrop-filter: blur(33px);
		border: 1px solid rgba(255,255,255,0.1);
		color: #797D94;
	}

	.vl{
		border-left: 1px solid rgba(255, 255, 255, 0.12);
		height: 32px;
	}

	.menu {
		gap: 32px
	}

    .border-color {
	    border-color:rgba(255, 255, 255, 0.1);
	}

    .sub-bar-border:not(:last-child) {
    border-right-width: 1px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom,
        rgba(0, 0, 139, 0),
        rgba(255, 255, 255, 0.167),
        rgba(0, 0, 139, 0)
      )
      1;
    }

    .sub-bar-link{
        transition: 0.3s ease-in-out; 
        border: 1px solid transparent;
        cursor: pointer;
    }

    .sub-bar-link:hover {
        color: #ffffff; 
        background-color: rgba(255,255,255, 0.1);
        border: 1px solid rgba(255,255,255, 0.15); 
    }

    @media (max-width: 639px){
        .sub-bar-container {
        display: none;
    }
    }

    @media (min-width: 640px){
        .sub-bar-container {
        display: flex;
        flex-direction: row; 
        overflow-x: scroll;
    }
    }

</style>