---
import Card from "./Card.astro";
import {twMerge} from "tailwind-merge";---

<div>
    <span class={twMerge("btn-circle -mt-14 sm:-mt-20 z-10 w-48 h-48 lg:w-72 lg:h-72")}/>

    <div class="w-full sm:w-6/12 m-auto grid grid-cols-3 mb-6">
        <h6 class="text-2xl sm:text-4xl font-semibold">Design fast</h6>
        <div/>
        <h6 class="text-2xl sm:text-4xl font-semibold text-green">Code faster</h6>
    </div>
    <Card className="p-8 pt-32 w-11/12 m-auto">
        <img class="mt-6 w-10/12 m-auto" src={`${import.meta.env.BASE_URL}img/unleash_your_creativity_and_vision.png`} alt="unleash_your_creativity_and_vision"/>

        <div class="lg:grid lg:gap-x-8 lg:grid-cols-3 items-center">
            <div class="col-span-2">
                <h4 class="text-5xl text-left font-medium mb-8" style="line-height: 78px">
                    Unleash your<br/>
                    <span class="text-blue">creativity</span>
                    and
                    <span class="text-rose">vision</span>
                </h4>
            </div>
            <div>
                <a href="https://discord.gg/947C6JArtM" target="_blank">
                    <Card className="card-link flex p-4 px-6 justify-between items-center">
                        <img class="w-8" src={`${import.meta.env.BASE_URL}icons/discord_violet.svg`} alt="discord"/>
                        <p class="flex-auto text-left ml-4">discord.gg/947C6JArtM</p>
                        <img src={`${import.meta.env.BASE_URL}icons/arrow_link.svg`} class="w-3" alt="arrow_link" />
                    </Card>
                </a>
                <a href="https://github.com/arkemishub" target="_blank">
                    <Card className="card-link mt-4 flex p-4 px-6 justify-between items-center">
                        <img class="w-8" src={`${import.meta.env.BASE_URL}icons/github.svg`} alt="github"/>
                        <p class="flex-auto text-left ml-4">github.com/arkemishub</p>
                        <img src={`${import.meta.env.BASE_URL}icons/arrow_link.svg`} class="w-3" alt="arrow_link" />
                    </Card>
                </a>
            </div>
        </div>
    </Card>
</div>

<style>
    .btn-circle {
        transform: translate(-50%, 0%);
        color: #fff;
        border-radius: 100%;
        border: 1px solid rgba(129, 155, 144, 0.2);
        text-transform: uppercase;
        position: absolute;
        transition: background-color 1.2s ease-out 100ms;
        z-index: -1;
    }
</style>